<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <resource src="notifications" />
  <resource src="speedometer" />

  <settings>
    <voice>
      <enabled>false</enabled>
      <channels>20</channels>
    </voice>
    <streamer>
      <distance>500</distance>
    </streamer>
    <cef>
      <enabled>true</enabled>
      <debug>false</debug>
    </cef>
  </settings>
</config>
